// SPDX-License-Identifier: GPL-2.0+

#include "socfpga_cyclone5_de10_nano.dtsi"
#include <dt-bindings/leds/common.h>

/ {
    model = "Audio Logic Audio Mini";

    leds {
        compatible = "gpio-leds";

        hps_user_led {
	    color = <LED_COLOR_ID_GREEN>;
	    function = LED_FUNCTION_HEARTBEAT;
            gpios = <&portb 24 0>;
            linux,default-trigger = "heartbeat";
        };
    };

    ad1939 {
        compatible = "dev,al-ad1939";
    };

    tpa613a2 {
        compatible = "dev,al-tpa613a2";
    };
};

&spi0 {
    status = "okay";
};